In [1]:
from sst import SST
sst = SST()

In [2]:
w =  sst.section('W360x196')
sst.show(w)

,W360x196,Expo,Units,Property Description
Prp,*,,,"Property group, '*' indicates the first sectio..."
Dsg,W360x196,,,Section designation
Avl,*,,,"Availability, '*' indicates a section not prod..."
Shp,1,,,Shape identification code. See 'Contents' above.
Use,1,,,"Normal use, 1-column, 2-column or beam, 3-beam..."
D,372,,$mm$,"Depth of section or height of vertical leg, mm."
B,374,,$mm$,"Width of flange or horizontal leg, mm."
T,26.2,,$mm$,"Thickness of flange, leg or wall, mm."
W,16.4,,$mm$,"Thickness of web, mm."
BT,7.14,,,"Width-to-thickness ratio of flange, wall or ho..."
HW,19.5,,,Clear depth-to-thickness ratio of web. See S16...
K,58,,$mm$,Distance between outer face of flange and web-...
K1,38,,$mm$,Distance between middle line of web and flange...
Dnom,360,,$mm$,"Nominal depth of section, mm."
Mass,196,,$kg/m$,"Mass per length, kg/m."
A,25000,,$mm^2$,"Cross-sectional area, mm^2."
Ix,636,$\times 10^6$,$mm^4$,"Moment of inertia about axis XX, mm^4."
Sx,3420,$\times 10^3$,$mm^3$,"Elastic section modulus about axis XX, mm^3."
Rx,159,,$mm$,"Radius of gyration about axis XX, mm."
Zx,3840,$\times 10^3$,$mm^3$,"Plastic modulus about axis XX, mm^3."
Iy,229,$\times 10^6$,$mm^4$,"Moment of inertia about axis YY, mm^4."
Sy,1220,$\times 10^3$,$mm^3$,"Elastic section modulus about axis YY, mm^3."
Ry,95.5,,$mm$,"Radius of gyration about axis YY, mm."
Zy,1860,$\times 10^3$,$mm^3$,"Plastic modulus about axis YY, mm^3."
J,5140,$\times 10^3$,$mm^4$,"St-Venant torsional constant, mm^4."
Cw,6830,$\times 10^9$,$mm^6$,"Warping constant, mm^6."
Wn,32300,,$mm^2$,"Normalized unit warping function, mm^2."
Sw,79.2,$\times 10^6$,$mm^4$,"Warping statical moment, mm^4."
Qf,810,$\times 10^3$,$mm^3$,Statical moment at point in flange in line wit...
Qw,1900,$\times 10^3$,$mm^3$,"Statical moment at mid-depth in web, mm^3."
SA,2.21,,$m$,"Surface area per metre, m."
Ds_i,W14x132,,,Section designation (Imperial units).
Dn_i,14,,$in$,"Nominal depth of section (Imperial units), in."
Wt_i,132,,$lb/ft$,"Weight per length (Imperial units), lb/ft."

In [3]:
wl = sst.section_tables(['W','WWF'],'Mass')

def myfunc0(shape,Fy=300.,M=0.):
    My = Fy * shape.Sx / 1E6
    if My >= M:
        return dict(My=My)

s = sst.select_rows(wl,myfunc0,maxn=5,Fy=350.,M=500.)
s[['Mass','Sx','My']]

         Mass       Sx     My
Dsg
W530x72    72  1520000  532.0
W460x74    74  1460000  511.0
W530x74    74  1550000  542.5
W460x82    82  1610000  563.5
W610x82    82  1880000  658.0

In [4]:
def myfunc(Zx,Fy=350.,Mf=0):
    Mp = Fy * Zx / 1E6
    if Mp >= Mf:
        return dict(Mp=Mp,Foo=13,Fy=Fy,Mf=Mf)
    return False

s = sst.select(wl,myfunc,maxn=10,Mf=2000)
s[['Mass','Avl','Use','Zx','Mp','Foo','Fy','Mf']]

            Mass  Avl  Use       Zx      Mp  Foo   Fy    Mf
Dsg
WWF800x161   161  NaN    3  6320000  2212.0   13  350  2000
WWF900x169   169  NaN    3  7370000  2579.5   13  350  2000
W760x173     173    *    3  6210000  2173.5   13  350  2000
WWF700x175   175  NaN    3  6260000  2191.0   13  350  2000
W840x176     176    *    3  6810000  2383.5   13  350  2000
WWF800x184   184  NaN    3  7410000  2593.5   13  350  2000
W760x185     185    *    3  6690000  2341.5   13  350  2000
W690x192     192    *    3  6460000  2261.0   13  350  2000
WWF900x192   192  NaN    3  8600000  3010.0   13  350  2000
W840x193     193    *    3  7620000  2667.0   13  350  2000

In [5]:
s = sst.select(wl,myfunc,Fy=400.,Mf=300.,maxn=20)
s[['Mass','Avl','Use','Zx','Mp','Foo','Fy','Mf']].sort_values('Mp',ascending=False)

         Mass Avl  Use       Zx     Mp  Foo   Fy   Mf
Dsg
W530x66    66  *C    3  1560000  624.0   13  400  300
W460x68    68  *C    3  1490000  596.0   13  400  300
W460x67    67   +    3  1470000  588.0   13  400  300
W410x67    67  *C    3  1360000  544.0   13  400  300
W460x61    61   +    3  1290000  516.0   13  400  300
W460x60    60  *C    3  1280000  512.0   13  400  300
W410x60    60  *C    3  1190000  476.0   13  400  300
W360x64    64  *C    2  1140000  456.0   13  400  300
W460x52    52  *C    3  1090000  436.0   13  400  300
W410x54    54  *C    3  1050000  420.0   13  400  300
W310x67    67  *C    2  1050000  420.0   13  400  300
W360x57    57  *C    3  1010000  404.0   13  400  300
W310x60    60  *C    2   933000  373.2   13  400  300
W250x67    67  *C    2   901000  360.4   13  400  300
W360x51    51  *C    3   894000  357.6   13  400  300
W410x46    46  *C    3   885000  354.0   13  400  300
W310x52    52  *C    3   841000  336.4   13  400  300
W200x71    71  *C    2   803000  321.2   13  400  300
W360x45    45  *C    3   779000  311.6   13  400  300
W250x58    58  *C    2   770000  308.0   13  400  300

In [28]:
slb = sst.section_table('SLB')
slb

,Prp,Dsg,Avl,Shp,Grp,Use,D,B,T,W,...,Zy,J,Cw,T1,T2,Slp,SA,Ds_i,Dn_i,Wt_i
Dsg,,,,,,,,,,,,,,,,,,,,,
SLB100x5.4,*,SLB100x5.4,NaN,18,1,3,101.6,57.2,3.28,3.18,...,5490,2860,240000000,3.04,3.52,0.02,0.43,SLB4x3.64,4.00,3.64
SLB100x5.1,NaN,SLB100x5.1,NaN,18,1,3,101.6,57.2,3.45,2.54,...,5680,2500,250000000,3.21,3.69,0.02,0.43,SLB4x3.45,4.00,3.45
SLB100x4.8,NaN,SLB100x4.8,NaN,18,1,3,101.6,57.2,3.28,2.34,...,5370,2120,240000000,3.04,3.52,0.02,0.43,SLB4x3.20,4.00,3.20
SLB75x5.6,*,SLB75x5.6,NaN,18,1,3,77.0,57.2,4.32,2.79,...,7080,4440,170000000,4.08,4.56,0.02,0.38,SLB3x3.75,3.00,3.75
SLB75x4.5,NaN,SLB75x4.5,NaN,18,1,3,76.2,57.2,3.53,2.29,...,5740,2280,140000000,3.29,3.77,0.02,0.38,SLB3x3.05,3.00,3.05
SLB75x4.3,NaN,SLB75x4.3,NaN,18,1,3,76.2,57.2,3.30,2.21,...,5360,1920,130000000,3.06,3.54,0.02,0.38,SLB3x2.90,3.00,2.90
SLB75x3.8,NaN,SLB75x3.8,NaN,18,1,3,76.2,50.8,3.07,2.21,...,3960,1510,90000000,2.86,3.28,0.02,0.35,SLB3x2.54,3.00,2.54
SLB55x6.4,*,SLB55x6.4,NaN,18,1,3,57.2,69.9,4.85,2.54,...,11700,6120,180000000,4.56,5.14,0.02,0.39,SLB2.25x4.30,2.25,4.30

In [30]:
def foo(x):
    print x
    return x == 'SLB75x5.6'
slb.select(foo)

SLB100x5.4
SLB100x5.1
SLB100x4.8
SLB75x5.6
SLB75x4.5
SLB75x4.3
SLB75x3.8
SLB55x6.4

,Prp,Dsg,Avl,Shp,Grp,Use,D,B,T,W,...,Zy,J,Cw,T1,T2,Slp,SA,Ds_i,Dn_i,Wt_i
Dsg,,,,,,,,,,,,,,,,,,,,,
SLB75x5.6,*,SLB75x5.6,NaN,18,1,3,77,57.2,4.32,2.79,...,7080,4440,170000000,4.08,4.56,0.02,0.38,SLB3x3.75,3,3.75

In [32]:
s = 'SLB75x5.6'
slb.ix[s]

Prp             *
Dsg     SLB75x5.6
Avl           NaN
Shp            18
Grp             1
Use             3
D              77
B            57.2
T            4.32
W            2.79
Rmin          5.8
Rmax          5.8
BT           6.62
HW           24.5
K              12
K1              7
Dnom           75
Mass          5.6
A             713
Ix         760000
Sx          19700
Rx           32.6
Zx          22100
Iy         130000
Sy           4590
Ry           13.6
Zy           7080
J            4440
Cw        1.7e+08
T1           4.08
T2           4.56
Slp          0.02
SA           0.38
Ds_i    SLB3x3.75
Dn_i            3
Wt_i         3.75
Name: SLB75x5.6, dtype: object

In [33]:
slb[['B']].index

Index([u'SLB100x5.4', u'SLB100x5.1', u'SLB100x4.8', u'SLB75x5.6', u'SLB75x4.5',
       u'SLB75x4.3', u'SLB75x3.8', u'SLB55x6.4'],
      dtype='object', name=u'Dsg')

In [34]:
for i in range(1,22):
    t = sst.section_table(i)
    print i, len(t)

1 281
2 28
3 12
4 11
5 107
6 32
7 34
8 139
9 188
10 41
11 73
12 73
13 66
14 15
15 62
16 62
17 67
18 8
19 62
20 62
21 67